<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.CrossRecordMapper">

    <sql id="selectVehicleRecordVo">
        cross_record_syscode as crossRecordSyscode,
        park_syscode as parkSyscode,
        park_name as parkName,
        entrance_syscode as entranceSyscode,
        entrance_name as entranceName,
        roadway_syscode as roadwaySyscode,
        roadway_name as roadwayName,
        vehicle_out as vehicleOut,
        release_mode as releaseMode,
        release_result as releaseResult,
        release_way as releaseWay,
        release_reason as releaseReason,
        plate_no as plateNo,
        card_no as cardNo,
        vehicle_color as vehicleColor,
        vehicle_type as vehicleType,
        plate_color as plateColor,
        plate_type as plateType,
        car_category as carCategory,
        car_category_name as carCategoryName,
        vehicle_pic_uri as vehiclePicUri,
        plate_no_pic_uri as plateNoPicUri,
        face_pic_uri as facePicUri,
        asw_syscode as aswSyscode,
        cross_time as crossTime,
        create_time as createTime
    </sql>
    <insert id="insertRecord" parameterType="com.ruoyi.biz.hik.response.CrossRecordResponse">
        insert ignore into t_vehicle_record
        (`cross_record_syscode`, `park_syscode`,
        `park_name`, `entrance_syscode`, `entrance_name`,
        `roadway_syscode`, `roadway_name`, `vehicle_out`,
        `release_mode`, `release_result`, `release_way`,
        `release_reason`, `plate_no`, `card_no`,
        `vehicle_color`, `vehicle_type`, `plate_color`,
        `plate_type`, `car_category`, `car_category_name`,
        `vehicle_pic_uri`, `plate_no_pic_uri`, `face_pic_uri`,
        `asw_syscode`, `cross_time`, `create_time`
        )
        values (#{record.crossRecordSyscode,jdbcType=VARCHAR}, #{record.parkSyscode,jdbcType=VARCHAR},
        #{record.parkName,jdbcType=VARCHAR}, #{record.entranceSyscode,jdbcType=VARCHAR}, #{record.entranceName,jdbcType=VARCHAR},
        #{record.roadwaySyscode,jdbcType=VARCHAR}, #{record.roadwayName,jdbcType=VARCHAR}, #{record.vehicleOut,jdbcType=INTEGER},
        #{record.releaseMode,jdbcType=INTEGER}, #{record.releaseResult,jdbcType=INTEGER}, #{record.releaseWay,jdbcType=INTEGER},
        #{record.releaseReason,jdbcType=INTEGER}, #{record.plateNo,jdbcType=VARCHAR}, #{record.cardNo,jdbcType=VARCHAR},
        #{record.vehicleColor,jdbcType=INTEGER}, #{record.vehicleType,jdbcType=INTEGER}, #{record.plateColor,jdbcType=VARCHAR},
        #{record.plateType,jdbcType=VARCHAR}, #{record.carCategory,jdbcType=VARCHAR}, #{record.carCategoryName,jdbcType=VARCHAR},
        #{record.vehiclePicUri,jdbcType=VARCHAR}, #{record.plateNoPicUri,jdbcType=VARCHAR}, #{record.facePicUri,jdbcType=VARCHAR},
        #{record.aswSyscode,jdbcType=VARCHAR}, #{record.crossTime,jdbcType=TIMESTAMP}, #{record.createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryOneRecord" resultType="com.ruoyi.biz.hik.response.CrossRecordResponse">
        select <include refid="selectVehicleRecordVo" />
        from t_vehicle_record
        WHERE
        cross_record_syscode = #{crossRecordSyscode}
    </select>





</mapper>