<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.GenCodeMapper">

    <select id="nextCode" parameterType="long" resultType="com.ruoyi.biz.domain.PO.GenCode">
        SELECT code_id, code_prefix, next_num FROM t_gen_code WHERE code_id = #{codeId}
    </select>

    <update id="updateNum" parameterType="long">
        UPDATE t_gen_code SET next_num = (next_num + 1) % 100000 WHERE code_id = #{codeId};
    </update>

</mapper>