<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.VehicleStatisticsMapper">

    <select id="selectVehicleCounts" parameterType="date" resultType="int">
        SELECT COUNT(*) FROM t_vehicle_record
                        WHERE TO_DAYS(cross_time) = TO_DAYS(#{date});
    </select>

    <select id="selectHazardousChemicalVehicleCounts" parameterType="date" resultType="int">
        SELECT COUNT(*) FROM t_vehicle_record
                        WHERE TO_DAYS(cross_time) = TO_DAYS(#{date})
                        and vehicle_type = 4 ;
    </select>

    <select id="selectVehicleCountsOnMonth" parameterType="date" resultType="int">
        SELECT COUNT(*)
        FROM t_vehicle_record
        WHERE  MONTH(cross_time) = MONTH(#{date});
    </select>
</mapper>